
#header .wrapper .menu #class_link{
  font-weight: 600;
}
#header .wrapper .menu #class_link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 22px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.container_buttons_access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0px 0px;
}

.link_button{
  padding: 20px;
  text-decoration: none; color: #282A36;
}

.link_button:hover{
  color: #43ED87
}

@media (max-width: 500px) {
  .container_buttons_access {
    flex-direction: column;
}}

